/*
    Personalizacion de menu
*/
.menu{
    -fx-effect: dropshadow(gaussian, black, 10, 0.0, 1, 1);
    -fx-font: normal normal 16px 'serif';
}


/*
    Personalizacion de botones
*/
.button{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-text-fill: white;
    -fx-font: normal normal 16px 'serif';
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-color: #268835;
    -fx-background-insets: 0,1,2,3,0;
    -fx-background-radius: 30;
    -fx-padding: 6 10 6 10;
    -fx-text-fill: -fx-text-base-color;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-effect: dropshadow(gaussian, black, 10, 0.0, 1, 1);
    -fx-font: normal normal 16px 'serif';
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}


/*
    Personalizacion del slider
*/
.slider:hover {
    -fx-scale-y: 1.5;
    -fx-scale-x: 1.5;
    -fx-background-insets: 4, 2, 2, 4;
    -fx-background-radius: 30;
    -fx-padding: 10 10 10 10;
}


/*
    Personalizacion del editor de texto
*/
.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #000000;
}
